<!DOCTYPE html>
<html lang="en-us" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hey Listen!</title>
</head>
<body data-ng-app="app">
    <div ng-controller="exampleCtrl">
        <header> Hey Listen! </header>
        <button ng-click="testError()"> Test Error! </button>
        <button ng-click="testSuccess()"> Test Success! </button>
        <button ng-click="testWarn()"> Test Warning! </button>
        <button ng-click="testNotify()"> Test Notify! </button>

    </div>

<!-- services -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" integrity="sha384-V6/dyDFv85/V/Ktq3ez5B80/c9ZY7jV9c/319rqwNOz3h9CIPdd2Eve0UQBYMMr/" crossorigin="anonymous"></script>
<!-- toastr -->
<script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css" />
<script type="text/javascript" src='ng.app.module.js'></script>
<script type="text/javascript" src='ng.example.controller.js'></script>
<script type="text/javascript" src='services/ng.services.module.js'></script>
<script type="text/javascript" src='services/ng.logger.service.js'></script>
<script type="text/javascript" src='services/ng.error_handling.service.js'></script>
<script type="text/javascript" src='util/ng.error_code.constants.js'></script>
<script type="text/javascript" src="util/ng.user_messages.constants.js"></script>
<!-- start ng -->
<script>

</script>

<!-- angularJS -->

</body>
</html>
